@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->
    <title>Книжный магазин</title>
    <h1>@ViewBag.Greeting</h1>
    <h3>@ViewBag.Head</h3>
    <h3>Меню</h3>
</head>
<body>
    <div class="table100 ver6 m-b-110">
        <table data-vertable="ver6">
            <tr class="row100 head">
                <th class="column100 column1" data-column="column1"><p>Название</p></th>
                <th class="column100 column2" data-column="column2">Цена</th>
                @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated == true)
                {
                    <th class="column100 column4" data-column="column4"></th>}
            </tr>
            @foreach (var b in ViewBag.Books)
            {
            <tr class="row100">
                <td class="column100 column1" data-column="column1"><p>@b.Nimetus</p></td>
                <td class="column100 column2" data-column="column2"><p>@b.Hind</p></td>
                @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated == true)
                {
                    <td class="column100 column4" data-column="column4"><p><a href="/Home/Buy/@b.Id">Добавить в заказ</a></p></td>}            </tr>
            }
        </table>
    </div>
    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>
</body>
</html>